@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-red: #ff0000;
  --color-primary-blue: #0c59ff;
}

.slot-roller {
  position: relative;
  height: 1.5rem; /* h-6 */
  display: block;
  overflow: hidden;
}
.slot-roller span {
  display: block;
  width: 100%;
  text-align: center;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.slot-roller-hover {
  pointer-events: none;
}
li:hover .slot-roller > span:first-child {
  transform: translateY(-100%);
}
li:hover .slot-roller > .slot-roller-hover {
  transform: translateY(-100%);
}

.text-stroke-3 {
  -webkit-text-stroke: 1px black;
}
